@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

p, h1, h2 {
  margin-bottom: 10px;
  text-align: justify;
}

header, .normal, .flex-content {
  padding: 20px;
}

.flex-content {
  background-color: rgb(156, 151, 151);
}