@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to left, #1E5959, #3B8C6E);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #0b2435;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color:#89D99D;
    text-align: center;
    text-shadow: 1px 1px 2px #0d2738e8;
}

h2 {
    color: #89D99D;
}

p {
    text-align: justify;
}